// Login.scss

.form {
  font-family: 'Anek Malayalam', sans-serif;
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 0 30px;
  overflow: hidden;

  .form-content {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    flex: 3 1;
    height: 100vh;
    align-items: inherit;
  }

  .sign-in > h2 {
    font-size: 30px;
    padding: 0;
  }
  .sign-up > h2 {
    font-size: 30px;
    padding: 0;
  }

  .sign-in {
    border: 1px solid #96c0f0;
    text-align: center;
    padding: 40px 100px;
    background: #96c0f0;
    border-radius: 10px;
    color: #fff;
  }

  .sign-up {
    border: 1px solid #96c0f0;
    text-align: center;
    padding: 20px 120px;
    background: #96c0f0;
    border-radius: 10px;
    color: #fff;
  }

  .signs-desc {
    margin-bottom: 20px;
  }

  input {
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #808080;
    border-radius: 8px;
    width: 100%;
  }

  button {
    margin-top: 20px;
    margin-left: 10px;
    padding: 10px;
    width: 100%;
    background: #200ebe;
    border: none;
    border-radius: 8px;
    color: #fff;
    cursor: pointer;
  }

  button:hover {
    background: #96c0f0;
    color: #0c0927;
    transition: 0.3s ease-out;
  }

  span {
    text-decoration: underline;
    cursor: pointer;
  }
}
